<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/login" class="navbar-brand" [routerLink]="['login']">Apparto</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/profile" class="nav-link active" routerLink="profile">Mon Espace </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Inscription</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link active" routerLink="login">Connexion</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" routerLink="profile" class="nav-link active">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Deconnexion</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <br><br>
    <router-outlet></router-outlet>
  </div>
</div>
